:root {
	--primary-colour: #30BE86;
	--secondary-colour: #D12B3D;
}

/* ======= */
/* =============================== */
/* =============================== */
/* =============================== */
/* ======= */

div {
	border-radius: 0.2rem;
}

h2 {
	font-size: 1.8em;
}

h2, h3 {
	margin: 10px 0;
}

input, #custom-group {
	padding: 0em 0.4em;
}

input, .group-input {
	box-sizing: border-box;
	border: solid 1px #CED4DA;
	border-radius: 0.4rem;
	font-size: 1em;
	overflow: auto;
	margin-bottom: 5px;
}

input, .group-input:focus, #shuffle {
	outline: none;
}

label {
	display: inline-block;
	margin: 6px;
}

p {
	margin: 0.25em;
}

/* ======= */
/* =============================== */
/* =============================== */
/* =============================== */
/* ======= */

.absent {
	background-color: var(--secondary-colour);
	display: inline-block;
}

.absent:hover {
	background-color: var(--primary-colour);
}

.absent-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

#attendance-lists {
	display: flex;
}

#attendance-wrapper {
	width: calc(100% / 3);
}

.content-wrapper {
	display: flex;
}

.group {
	border: solid 1px #CED4DA;
	padding: 0.5rem;
	line-height: 1.5;
	margin: 0.25em;
	display: inline-block;
	width: calc(calc(100% - 1.5em)/3); ;
	box-sizing: border-box;
}

.group-index {
	font-weight: bold;
}

.group-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 30%;
}

#grouping-results {
	display: flex;
	flex-wrap: wrap;
}

#groupings-wrapper {
	width: calc(100% * calc(2/3));
}

.name {
	cursor: pointer;
	width: 70%;
	padding: 0.25rem 0.5rem;
	color: #FFFFFF;
	line-height: 1.5;
	margin-bottom: 0.25rem;
	text-align: center;
	font-size: 0.9rem;
}

.pax-count {
	font-size: 1em;
	color: #6C757D;
	font-weight: 500;
}

#pax-group {
	padding: 0.5em;
}

.present {
	background-color:var(--primary-colour);
}

.present:hover {
	background-color: var(--secondary-colour);
}

#shuffle {
	box-sizing: border-box;
	background-color: var(--primary-colour);
	color: #FFFFFF;
	border-radius: 0.4rem;
	font-size: 1em;
	margin: 0 0 5px 10px;
	padding: 0.5em;
	border: none;
}

#shuffle:hover {
	background-color: var(--secondary-colour);
}

#shuffle:active {
	position: relative;
	top: 2px;
}

.tab {
	width: 50%;
}

.total-count {
	font-size: 0.75em;
	color: #6C757D;
	font-weight: 500;
}

.trash {
	cursor: pointer;
	position: absolute;
	right: 8%;
	top: 45%;
	transform: translateY(-50%);
	color: #000;
}

/* ======= */
/* =============================== */
/* =============================== */
/* =============================== */
/* ======= */

.checkbox:checked {
	color: var(--primary-colour);
}

/* The container */
.container {
	position: relative;
	padding-right: 22px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	right: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 0.4rem;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: var(--primary-colour);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: var(--primary-colour);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 7px;
	top: 3px;
	width: 4px;
	height: 9px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* ======= */
/* =============================== */
/* =============================== */
/* =============================== */
/* ======= */

@media only screen and (max-width: 870px) {

	#attendance-wrapper {
		width: 100%;
		order: 2;
	}

	.content-wrapper{
		flex-direction: column;
	}

	#custom-group, #name-input {
		padding: 4px;
	}

	.group {
		width: calc(calc(100% - 2em)/4); ;
	}

	#groupings-wrapper {
		width: 100%;
	}

}

@media only screen and (max-width: 500px) {

	.group {
		width: calc(calc(100% - 1em)/2);
	}

	#pax-group, #custom-group {
		width: calc(calc(100%) * calc(3/4) - 10px);
	}

	#name-input {
		width: 100%;
	}

	#shuffle {
		width: calc(calc(100%)/4);
	}

}