div {
	/*border: solid 1px red;*/
	border-radius: 0.2rem;
}

.page-wrapper {
	padding: 20px;
}

#header {
	text-decoration: underline;
	margin: 0;
}

h2 {
	font-size: 1.8em;
}

h2, h3 {
	margin: 10px 0;
}

input {
	border: solid 1px #CED4DA;
	border-radius: 0.4rem;
	padding: 0em 0.4em;
	font-size: 1em;
	overflow: auto;
	margin-bottom: 5px;
}

input:focus {
	outline: none;
}

#attendance-lists {
	/*border: solid 1px red;*/
	display: flex;
}

.tab {
	/*border: solid 1px blue;*/
	width: 50%;
}

.name {
	cursor: pointer;
	width: 70%;
	padding: 0.25rem 0.5rem;
	color: #FFFFFF;
	line-height: 1.5;
	margin-bottom: 0.25rem;
	text-align: center;
}

.present {
	background-color: #DA3749;
}

.present:hover {
	background-color: #81212B;
}

.absent {
	background-color: #6C757D;
	display: inline-block;
}

.absent:hover {
	background-color: #3E4347;
}

.total-count {
	font-size: 0.75em;
	color: #6C757D;
	font-weight: 500;
}

.pax-count {
	font-size: 1em;
	color: #6C757D;
	font-weight: 500;
}

.absent-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.trash {
	cursor: pointer;
	position: absolute;
	left: 80%;
	color: #000;
}