div {
	/*border: solid 1px red;*/
	border-radius: 0.2rem;
}

.content-wrapper {
	display: flex;
	/* border: solid 1px red; */
}

#attendance-wrapper {
	width: calc(100% / 3);
	/* border: solid 1px red; */
}

#groupings-wrapper {
	width: calc(100% * calc(2/3));
	/* border: solid 1px red; */
}

h2 {
	font-size: 1.8em;
}

h2, h3 {
	margin: 10px 0;
}

input, .group-input {
	box-sizing: border-box;
	border: solid 1px #CED4DA;
	border-radius: 0.4rem;
	font-size: 1em;
	overflow: auto;
	margin-bottom: 5px;
}

.group-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 30%;
}

input, .group-input:focus {
	outline: none;
}

input, #custom-group {
	padding: 0em 0.4em;
}

#pax-group {
	padding: 0.5em;
}

#attendance-lists {
	/*border: solid 1px red;*/
	display: flex;
}

.tab {
	/*border: solid 1px blue;*/
	width: 50%;
}

.name {
	cursor: pointer;
	width: 70%;
	padding: 0.25rem 0.5rem;
	color: #FFFFFF;
	line-height: 1.5;
	margin-bottom: 0.25rem;
	text-align: center;
	font-size: 0.9rem;
}

.present {
	background-color: #DA3749;
}

.present:hover {
	background-color: #81212B;
}

.absent {
	background-color: #6C757D;
	display: inline-block;
}

.absent:hover {
	background-color: #3E4347;
}

.total-count {
	font-size: 0.75em;
	color: #6C757D;
	font-weight: 500;
}

.pax-count {
	font-size: 1em;
	color: #6C757D;
	font-weight: 500;
}

.absent-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.trash {
	cursor: pointer;
	position: absolute;
	right: 8%;
	top: 45%;
	transform: translateY(-50%);
	color: #000;
}

#grouping-results {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: flex-start;*/
	/* border: solid 1px red; */
}

.group {
	border: solid 1px #CED4DA;
	padding: 0.5rem;
	line-height: 1.5;
	margin: 0.25em;
	font-size: 0.9rem;
	display: inline-block;
	width: calc(calc(100% - 1.5em)/3); ;
	box-sizing: border-box;
}

p {
	margin: 0.25em;
}

.group-index {
	font-weight: bold;
}